<h2>Details of transaction {{transaction.id}}</h2>
<div>
  <span>created at : </span><span>{{transaction.created_at}}</span>
</div>
<div>
  <span>counterparty name : </span><span>{{transaction.counterparty_name}}</span>
</div>
<div>
  <span>debit : </span><span>{{transaction.debit}}</span>
</div>
<div>
  <span>credit : </span><span>{{transaction.credit}}</span>
</div>
<div>
  <span>amount : </span><span>{{transaction.amount}}</span>
</div>
<div>
  <span>currency : </span><span>{{transaction.currency}}</span>
</div>
<div>
  <span>operation type : </span><span>{{transaction.operation_type}}</span>
</div>
