  <table class="table transaction-table">
    <thead>
      <tr>
        <th {{action 'sortByDate'}}>Date</th>
        <th {{action 'sortByCounterparty'}}>Counterparty Name</th>
        <th {{action 'sortByPayment'}}>Payment Type</th>
        <th {{action 'sortByAmount'}}>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedTransactions as |transaction|}}
        {{transaction-item transaction=transaction}}
      {{/each}}
    </tbody>
  </table>